<div class="border h-[50%] p-5">

  <div class="flex justify-between items-center">
    <div class="flex space-x-2 items-center justify-center">
      <div class="w-7 h-7 bg-black rounded-full"></div>
      <span class="text-black text-sm">{{name}}</span>
      <div class="w-1 h-1 bg-gray-700 rounded-full"></div>
      <span class=" text-xs text-gray-600">{{datePost}}</span>
    </div>

    <button class="flex items-center">
      <div class="w-20 h-6 rounded-full bg-primary-color mr-2 items-center justify-center flex ">
        <span class="text-white text-xs mr-1">Follow</span>
        <i class="fa-solid fa-plus text-white text-sm"></i>
      </div>
      <div class="w-1 h-1 rounded-full bg-gray-400 mr-1 "></div>
      <div class="w-1 h-1 rounded-full bg-gray-400 mr-1"></div>
      <div class="w-1 h-1 rounded-full bg-gray-400 mr-1"></div>
    </button>
  </div>

  <div class="w-full h-40 border mt-4 p-3">Postagem</div>

  <div class="flex items-center mt-1">
    <div class="w-16 h-5 rounded-full border mr-1 "></div>
    <div class="w-16 h-5 rounded-full border mr-1 "></div>
    <div class="w-16 h-5 rounded-full border mr-1 "></div>
    <div class="w-16 h-5 rounded-full border mr-1 "></div>
  </div>
</div>