<div class="flex justify-between items-center h-14 border">

  <!-- TODO icone -->
  <div class="flex w-[15%] mr-10">
    <img src="../../../assets/images/Opinione-removebg-preview.png" alt="">
  </div>

  <!-- TODO search -->
  <div class="flex items-center w-[30%] h-8 border rounded-full ml-16 p-3">
    <input class="w-full outline-none text-xs" placeholder="Serach Slot">
    <i class="fa-solid fa-magnifying-glass"></i>
  </div>

  <!-- TODO buttons -->
  <div class="flex space-x-2 items-center p-5">
    <button class="w-24 h-8 bg-primary-color rounded-full items-center justify-center flex">
      <i class="fa-solid fa-plus text-white text-sm mr-2"></i>
      <span class="text-white text-sm">Create</span>
    </button>
    <button class="w-9 h-9 border bg-blue-gray rounded-full items-center justify-center flex">
      <i class="fa-solid fa-arrow-pointer"></i>
    </button>
    <button class="w-9 h-9 border bg-blue-gray rounded-full items-center justify-center flex">
      <i class="fa-brands fa-rocketchat"></i>
    </button>
    <button class="w-9 h-9 border bg-blue-gray rounded-full items-center justify-center flex">
      <i class="fa-regular fa-bell"></i>
    </button>
    <button class="w-9 h-9 border bg-blue-gray rounded-full items-center justify-center flex">
      <span>TH</span>
    </button>

  </div>

</div>