<aside id="default-sidebar" class="top-0 left-0 z-40 w-64 h-full transition-transform -translate-x-full sm:translate-x-0  border border-y-0" aria-label="Sidebar">
  <div class="h-full px-3 py-4 overflow-y-auto">
    <ul class="space-y-2">
      <li>
        <a href="#" class="flex items-center p-2 text-gray-900 hover:bg-primary-color hover:rounded-3xl group hover:text-white">
          <i class="fa-solid fa-house"></i>
          <span class="ml-3">Home</span>
        </a>
      </li>
      <li>
        <a href="#" class="flex items-center p-2 text-gray-900 hover:bg-primary-color group hover:rounded-3xl hover:text-white">
          <i class="fa-solid fa-fire"></i>
          <span class="ml-3">Popular</span>
        </a>
      </li>
      <li>
        <a href="#" class="flex items-center p-2 text-gray-900 hover:bg-primary-color group hover:rounded-3xl hover:text-white">
          <i class="fa-solid fa-earth-americas"></i>
          <span class="ml-3">All</span>
        </a>
      </li>
    </ul>
  </div>
</aside>